<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/truck_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/truck_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodtruck"
        tools:targetApi="31">
        <activity
            android:name=".activities.AgregarFoodtruck"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBujEJ43mI1EkZxVitmGuX45Ha8mWMlxJY" />

        <activity
            android:name=".activities.Login_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Registro_activity"></activity>
        <activity android:name=".activities.Inicio"></activity>
        <activity android:name=".activities.Terminos"></activity>
        <activity android:name=".activities.Details_activity"></activity>
    </application>

</manifest>